* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav li a:hover {
    background-color: #ddd;
    color: black;
  }


title{
    font-size: larger;
    font-style: normal;
    font-size: 50%;
}
h1{
        font-family: 'Courier New', Courier, monospace;
        color: black;
        background-color: lightblue;
        text-align: center;
        font-size: 150%;
}
h2{ 
    font-size: 200%;
    background-color: lightgray;
}
p {
    font-family: verdana;
    font-size: 20px;
}
.inline{
display: inline;
text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .fa {
    padding: 50px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    justify-content: space-between;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-instagram {
        background: deeppink;
        color: white;
      }
      .fa-snapchat-ghost {
        background: #fffc00;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
  

  
