* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav li a:hover {
    background-color: #ddd;
    color: black;
  }


title{
    font-size: larger;
    font-style: normal;
    font-size: 50%;
}
h1{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        text-align: center;
        font-size: 5%;
}
h2{ 
    font-size: medium;
    background-color: bisque
}
p {
    font-family: verdana;
    font-size: 20px;
}
.inline{
display: inline;
text-align: center;
}
.contact-form .form-control,
.comment-form .form-control {
    border: 1px solid #ebebeb;
    height: 50px;


.contact-form .form-control:focus,
.comment-form .form-control:focus {
    border: 1px solid #000;
}

.contact-form textarea.form-control,
.comment-form textarea.form-control {
    height: 130px;
}

.contact-btn {
    margin-top: 50px;
    width: 160px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: #fc6c3f;
    border-radius: 30px;
}

.contact-btn:hover {
    color: #fff;
    background-color: #d43f10;
}

.contact-form-sidebar {
    background-size: cover;
    background-position: center center;