* {
    margin: 0;
    padding: 0;
}
body {
    background-color: darksalmon;
    font-family: 'Poppins', sans-serif;
    
  }
  ul{
    list-style-type: disc;
    margin:0;
    padding: 0;
    background-color: aqua;
}
li{
    float:left;
}
li a {
    display: inline-block;;
    color: aquamarine;
    text-align: center;
    padding: 24px 36px;
    text-decoration: blueviolet;
}
li a:hover {
background-color: crimson;
}


title{
    font-size: larger;
    font-style: normal;
    font-size: 50%;
}
h1{
    font-size: large;
    font-family: 'Quicksand', sans-serif;
    color: #232d37;
  
}
h2{ 
    font-size: medium;
    background-color: bisque
}
.contact-form .form-control,
.comment-form .form-control {
    border: 1px solid #ebebeb;
    height: 50px;


.contact-form .form-control:focus,
.comment-form .form-control:focus {
    border: 1px solid #000;
}

.contact-form textarea.form-control,
.comment-form textarea.form-control {
    height: 130px;
}

.contact-btn {
    margin-top: 50px;
    width: 160px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: #fc6c3f;
    border-radius: 30px;
}

.contact-btn:hover {
    color: #fff;
    background-color: #d43f10;
}

.contact-form-sidebar {
    background-size: cover;
    background-position: center center;