body {
    background-color: darksalmon
  }

title{
    font-size: larger;
    font-style: normal;
    font-size: 25%;
}
h1{
    font-size: large;
}
h2{ 
    font-size: medium;
    background-color: bisque
}